xsd/bookNoMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="chapters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="chapter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pages">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="page">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="frames">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="frame">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="scene">
                                              <xs:complexType>
                                                <xs:attribute name="id" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="contents">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="content">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="objects">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element maxOccurs="unbounded" name="object">
                                                                <xs:complexType>
                                                                  <xs:attribute name="type" type="xs:string" use="required" />
                                                                  <xs:attribute name="id" type="xs:string" use="required" />
                                                                  <xs:attribute name="animation" type="xs:string" use="optional" />
                                                                  <xs:attribute name="string" type="xs:string" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="choice">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="question">
                                                                <xs:complexType>
                                                                  <xs:attribute name="id" type="xs:string" use="required" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="positive">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="text">
                                                                      <xs:complexType>
                                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="result">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="success">
                                                                            <xs:complexType>
                                                                              <xs:attribute name="goto" type="xs:string" use="required" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="failed">
                                                                            <xs:complexType>
                                                                              <xs:attribute name="goto" type="xs:string" use="required" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="negative">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="text">
                                                                      <xs:complexType>
                                                                        <xs:attribute name="id" type="xs:string" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="result">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="success">
                                                                            <xs:complexType>
                                                                              <xs:attribute name="goto" type="xs:string" use="required" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="failed">
                                                                            <xs:complexType>
                                                                              <xs:attribute name="goto" type="xs:string" use="required" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="owner" type="xs:string" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="target" type="xs:string" use="required" />
                                                      <xs:attribute name="type" type="xs:string" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:string" use="required" />
                                          <xs:attribute name="bordertype" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>